.container .row div {
	padding: 10px 0;
    border: 1px solid #6c757d;
    color: white;
    text-align: center;
}

.container-fluid .row div {
	padding: 10px 0;
    border: 1px solid #0dcaf0;
    color: white;
    text-align: center;
}


.bg-indigo {
	background-color: var(--bs-indigo);
}